<div class="container">
  <h2 class="mt-20 mb-20">Liste des fans</h2>

  <a routerLink="../add-fan">Ajouter un fan</a>

  <p *ngIf="fanslist.length <= 0">
    Aucun fan n'est encore présent dans la liste
  </p>

  <div *ngIf="fanslist.length">
    <ul>
      <li class="d-flex align-items-center justify-content-center" (click)="selectedFan(fan.id)" *ngFor="let fan of fanslist">
        <span class="flex-fill">{{ fan.firstname }}</span>
        <a [routerLink]="'../update-fan/'+fan.id" class="btn btn-primary">Update</a>
      </li>
    </ul>
  </div>

</div>
