<div class="container">
  <h1>Mise à jour de {{ fan.firstname }}</h1>

  <form [formGroup]="fanFormUpdate" class="mt-20" (ngSubmit)="onSubmit()">

    <div class="d-flex mb-10">
      <label for="name">Nom : </label>
      <input class="flex-fill" type="text" name="name" id="name" formControlName="firstname"/>
    </div>

    <div class="d-flex mb-10">
      <label for="birthdate">Date de naissance : </label>
      <input class="flex-fill" type="date" name="birthdate" id="birthdate" formControlName="birthdate"/>
    </div>

    <div *ngIf="fanFormUpdate.get('birthdate')?.touched && fanFormUpdate.get('birthdate')?.errors?.['diff']">
      <p style="color:red">
        Tu n'as pas encore l'age, va manger ta soupe !
      </p>
    </div>

    <hr>
    <div formArrayName="serie_array">
      <h3 class="mt-10 mb-10">Séries</h3>
      <button  (click)="addSerie()" class="btn btn-primary mb-10" type="button">Ajouter série</button>

      <div *ngFor="let serie of getSeries().controls; let i = index" [formGroupName]="i">

        <label for="serie-{{ i }}">Nom de la série</label>
        <input type="text" name="serie-{{ i }}" id="serie-{{ i }}" formControlName="serie_title">
        <button (click)="deleteSerie(i)" class="btn btn-danger ml-10" type="button">Supprimer</button>

      </div>

    </div>


    <button class="mt-20 btn btn-secondary">Sauvegarder</button>

  </form>
</div>
